@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background: linear-gradient(60deg, #1e40af, #3b82f6, #1e40af);
  background-size: 300% 300%;
  animation: gradientAnimation 3s ease infinite alternate;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: gradientAnimation;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
